<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>track show</title>
</head>
<body>
<table border="1" width="100%">
    <tr>
        <td align="center" colspan="9">
            <h1>Header</h1>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <h1>Menu</h1>
        </td>
        <td align="center" colspan="7">
            <h1>track show</h1>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="9">
            <h1>footer</h1>
        </td>
    </tr>

</table>

</body>
</html>