{%extends 'track/Parent.html'%}
{%block title%}
        Track-List
{%endblock%}
{%block content%}

        <h1>Track List</h1>
        <a href="{%url 'newtrack'%}">New</a>
        <table border="1" width="100%">
                <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Actions</td>
                </tr>
                {%for track in tracks%}
                     <tr>
                        <td>{{track.id}}</td>
                        <td>{{track.name}}</td>
                        <td>
                                <a href="{%url 'TrackByID' track.id%}">show</a>
                                <a href="{%url 'TrackUpdate' track.id%}">update</a>
                                <a href="{%url 'TrackDelete' track.id%}">delete</a>
                        </td>
                        </tr>
                {%endfor%}
        </table>
{%endblock%}